#book-search-container {
  padding: 0;
  .row {
    padding: 10px 20px;
  }
  :hover {
    background-color: white !important;
    transition-duration: .5s;
    cursor: pointer;
  }
}

#book-search-img {
  height: 64px;
  max-width: 48px;
  object-fit: cover;
}
